<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBD315E2-47B6-47F1-AF6E-7AD4779D0DC7</key>
	<dict>
		<key>partialPath</key>
		<string></string>
		<key>policySearch</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
